<nav class="desktop-nav">
  <span><img src="assets/img/logo-1.png" alt="logo"> </span>
  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/about">Über Mich</a>
  </div>
</nav>
<nav class="mobile-nav">
  <span><img src="assets/img/logo-1.png" alt="logo"> </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span routerLink="/">Home</span>
    </button>
    <button mat-menu-item >
      <span routerLink="/gallery">Gallery</span>
    </button>
    <button mat-menu-item>
      <span routerLink="/about">Über mich</span>
    </button>
  </mat-menu>

</nav>
