<div class="waben-wrapper">
  <!-- Obere Reihe -->
  <div class="top-row">
    <div class="wabe" style="background-image: url('/assets/img/1.jpg');">
      <h2>Hunsrück</h2>
      <button (click)="goToGallery('Hunsrück')">Gallery</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/A7R02159 Kopie.jpg');">
      <h2>Eifel</h2>
      <button (click)="goToGallery('Eifel')">Gallery</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/A7R02277-Verbessert-RR Kopie.jpg');">
      <h2>Deutschland</h2>
      <button (click)="goToGallery('Deutschland')">Gallery</button>
    </div>
  </div>

  <!-- Untere Reihe -->
  <div class="bottom-row">
    <div class="wabe" style="background-image: url('/assets/img/A7R02265 Kopie.jpg');">
      <h2>Mosel</h2>
      <button (click)="goToGallery('Mosel')">Gallery</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/A7R02136-Verbessert-RR Kopie.jpg');">
      <h2>Architektur</h2>
      <button (click)="goToGallery('Architektur')">Gallery</button>
    </div>
  </div>
</div>
