/* Globaler Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.waben-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: center;
  gap: 0;
}

@media(max-width: 1000px) {
  .top-row {
    flex-wrap: wrap;
  }
}

.bottom-row {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: -70px;
}

@media(max-width: 1000px) {
  .bottom-row {
    margin-top: -40px;
  }
}

@media (max-width: 669px) {
  .bottom-row {
    margin-top: 10px;
  }
}

.wabe {
  width: 300px;
  height:300px;
  margin: 0 5px;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  padding: 5px;
}

@media (max-width: 1000px) {
  .wabe {
    width: 200px;
    height: 200px;
  }
}

.wabe h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.wabe button {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wabe button:hover {
  background: rgba(0, 0, 0, 0.7);
}
