<div class="waben-wrapper">
  <!-- Obere Reihe -->
  <div class="top-row">
    <div class="wabe" style="background-image: url('/assets/img/1.jpg');">
      <h2>Überschrift 1</h2>
      <button>Button 1</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/2.jpg');">
      <h2>Überschrift 2</h2>
      <button>Button 2</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/1.jpg');">
      <h2>Überschrift 3</h2>
      <button>Button 3</button>
    </div>
  </div>

  <!-- Untere Reihe -->
  <div class="bottom-row">
    <div class="wabe" style="background-image: url('/assets/img/2.jpg');">
      <h2>Überschrift 4</h2>
      <button>Button 4</button>
    </div>
    <div class="wabe" style="background-image: url('/assets/img/5.jpg');">
      <h2>Überschrift 5</h2>
      <button>Button 5</button>
    </div>
  </div>
</div>
