<div class="content" >
<h2>
    Willkommen auf meiner Webseite!
  </h2>
  <div>
  <p>
    Hier findest du Informationen über mich und meine Projekte.
  </p>
  <button routerLink="/gallery">
    Zur Galerie
  </button>
  </div>
</div>
<div class="conteiner">
  <h2>
    Über mich
  </h2>
  <app-waben></app-waben>
</div>
<div class="content projects">
  <h2>
    Meine Projekte
  </h2>
  <p>
    Hier findest du eine Auswahl meiner besten Bilder.
  </p>
  <button routerLink="/gallery">
    Zur Galerie
  </button>
</div>
