<div class="content" >
<h2>
    Willkommen auf meiner Webseite!
  </h2>
  <div>
  <p>
    Hier findest du Informationen über mich und meine Projekte.
  </p>
  <button routerLink="/gallery">
    Zur Galerie
  </button>
  </div>
</div>
<div class="conteiner">
  <h2>
    Über mich
  </h2>
  <p>
    Ich bin ein Fotograf aus Berlin und habe mich auf Landschaftsfotografie spezialisiert.
    Meine Bilder sind in zahlreichen Ausstellungen zu sehen und wurden bereits mehrfach ausgezeichnet.
  </p>

</div>
